@import "tailwindcss";
@import "./theme.css";
@import "tailwindcss";

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: theme('fontFamily.sans');
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: var(--background-main);
    color: var(--text-high);
  }

  :focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--border-focus), 0 0 0 4px var(--background-main);
  }
}