@theme {
  --color-background-main: #121212;
  --color-background-surface: #181818;
  --color-background-elevated: #282828;
  --color-background-pressed: #333333;

  --color-text-high: #FFFFFF;
  --color-text-medium: #B3B3B3;
  --color-text-low: #6A6A6A;

  --color-action-primary: #1DB954;
  --color-action-primary-hover: #1ED760;
  --color-action-secondary: #7A3EFF;
  --color-action-danger: #E91429;
  --color-action-success: #1AA34A;

  --color-border-light: #282828;
  --color-border-focus: #1DB954;
  --color-border-error: #E91429;
}